<!-- wp:template-part {"slug":"header-2","theme":"go-africa-ollie-child","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Breadcrumbs"},"align":"full","className":"is-style-default has-text-color has-link-color","style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|primary-700"}}}},"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"primary-light","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull is-style-default has-text-color has-link-color has-primary-light-background-color has-background"
    style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small)">
    <!-- wp:group {"align":"wide","className":"is-style-default","fontSize":"small","layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide is-style-default has-small-font-size"><!-- wp:yoast-seo/breadcrumbs /--></div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Archive Hero","patternName":"core/block/57326"},"className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|medium"}}},"backgroundColor":"primary-light","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-default has-primary-light-background-color has-background"
    style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--x-large);padding-bottom:var(--wp--preset--spacing--medium)">
    <!-- wp:group {"align":"wide","layout":{"type":"constrained","justifyContent":"left","contentSize":"900px"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:heading {"level":1,"align":"wide","className":"is-style-default","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"xx-large"} -->
        <h1 class="wp-block-heading alignwide is-style-default has-primary-color has-text-color has-link-color has-xx-large-font-size"
            style="font-style:normal;font-weight:500">Onze Bestemmingen</h1>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"secondary"} -->
        <p class="has-secondary-color has-text-color has-link-color" style="font-style:normal;font-weight:500">Ontdek de
            veelzijdigheid van Afrika. Van de uitgestrekte savannes in het oosten tot de bruisende steden in het zuiden
            en de tropische eilanden in de Indische Oceaan. Wij bieden reizen aan naar de mooiste plekken van het
            continent.</p>
        <!-- /wp:paragraph -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Archive Content"},"align":"wide","className":"is-style-ga-page-section-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|x-large"},"blockGap":"0"}},"backgroundColor":"primary-light","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide is-style-ga-page-section-default has-primary-light-background-color has-background"
    style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--x-large)">
    <!-- wp:group {"align":"wide","className":"is-style-default","style":{"color":{"background":"#00000000"},"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|x-large"},"blockGap":"var:preset|spacing|x-large","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide is-style-default has-background"
        style="background-color:#00000000;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:var(--wp--preset--spacing--x-large)">
        <!-- wp:group {"align":"wide","layout":{"type":"constrained","justifyContent":"left","contentSize":"900px"}} -->
        <div class="wp-block-group alignwide">
            <!-- wp:heading {"align":"wide","className":"is-style-default","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"x-large"} -->
            <h2 class="wp-block-heading alignwide is-style-default has-primary-color has-text-color has-link-color has-x-large-font-size"
                style="font-style:normal;font-weight:500">Zuidelijk Afrika</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"secondary"} -->
            <p class="has-secondary-color has-text-color has-link-color" style="font-style:normal;font-weight:500">Van
                spectaculaire woestijnen tot de machtige Victoria watervallen. Zuidelijk Afrika biedt een rijke mix van
                wildlife, cultuur en landschappen.</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"align":"wide","layout":{"type":"grid","minimumColumnWidth":"22rem"},"animationType":"fadeInUp","animationDuration":0.5,"animateOnScroll":true,"scrollOffset":-70,"animationPresetId":"home-cards-2","animateSequentially":true} -->
        <div class="wp-block-group alignwide">
            <!-- wp:cover {"url":"http://localhost:8898/wp-content/uploads/2026/04/dawn-westveld-xPbprms3u6Q-unsplash-1024x682.jpg","id":1342,"isUserOverlayColor":true,"customGradient":"linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)","contentPosition":"bottom left","sizeSlug":"large","metadata":{"patternName":"go-africa-ollie-child/ga-destination-home","name":"Destination Home card"},"className":"is-style-ga-cover-hover-zoom","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|sm","topRight":"var:preset|border-radius|sm","bottomLeft":"var:preset|border-radius|sm","bottomRight":"var:preset|border-radius|sm"}},"spacing":{"blockGap":"var:preset|spacing|small","padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}},"dimensions":{"aspectRatio":"3/4"}},"layout":{"type":"constrained"},"href":"/destination/zuid-afrika/","linkDestination":"custom"} -->
            <div class="wp-block-cover has-custom-content-position is-position-bottom-left is-style-ga-cover-hover-zoom"
                style="border-top-left-radius:var(--wp--preset--border-radius--sm);border-top-right-radius:var(--wp--preset--border-radius--sm);border-bottom-left-radius:var(--wp--preset--border-radius--sm);border-bottom-right-radius:var(--wp--preset--border-radius--sm);padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)">
                <img class="wp-block-cover__image-background wp-image-1342 size-large" alt=""
                    src="http://localhost:8898/wp-content/uploads/2026/04/dawn-westveld-xPbprms3u6Q-unsplash-1024x682.jpg"
                    data-object-fit="cover" /><span aria-hidden="true"
                    class="wp-block-cover__background has-background-dim-100 has-background-dim wp-block-cover__gradient-background has-background-gradient"
                    style="background:linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)"></span>
                <div class="wp-block-cover__inner-container">
                    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:heading {"level":3,"className":"has-text-align-left is-style-shadow-text","style":{"typography":{"textAlign":"left","fontStyle":"normal","fontWeight":"500"},"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"}}},"fontSize":"large"} -->
                        <h3 class="wp-block-heading has-text-align-left is-style-shadow-text has-large-font-size"
                            style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0;font-style:normal;font-weight:500">
                            Zuid-Afrika</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
                        <p style="font-style:normal;font-weight:400">De wereld in één land. Safari, bergen, strand en
                            bruisende steden.</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button {"className":"is-style-ga-underline-button","icon":"arrow-right"} -->
                        <div class="wp-block-button is-style-ga-underline-button"><a
                                class="wp-block-button__link wp-element-button">Bekijk rondreizen</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
            </div>
            <!-- /wp:cover -->

            <!-- wp:cover {"url":"http://localhost:8898/wp-content/uploads/2026/04/joshua-kettle-1Ei6NaGZPiE-unsplash-768x1024.jpg","id":1419,"isUserOverlayColor":true,"customGradient":"linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)","contentPosition":"bottom left","sizeSlug":"large","metadata":{"patternName":"go-africa-ollie-child/ga-destination-home","name":"Destination Home card"},"className":"is-style-ga-cover-hover-zoom","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|sm","topRight":"var:preset|border-radius|sm","bottomLeft":"var:preset|border-radius|sm","bottomRight":"var:preset|border-radius|sm"}},"spacing":{"blockGap":"var:preset|spacing|small","padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}},"dimensions":{"aspectRatio":"3/4"}},"layout":{"type":"constrained"},"href":"/destination/namibie/","linkDestination":"custom"} -->
            <div class="wp-block-cover has-custom-content-position is-position-bottom-left is-style-ga-cover-hover-zoom"
                style="border-top-left-radius:var(--wp--preset--border-radius--sm);border-top-right-radius:var(--wp--preset--border-radius--sm);border-bottom-left-radius:var(--wp--preset--border-radius--sm);border-bottom-right-radius:var(--wp--preset--border-radius--sm);padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)">
                <img class="wp-block-cover__image-background wp-image-1419 size-large" alt=""
                    src="http://localhost:8898/wp-content/uploads/2026/04/joshua-kettle-1Ei6NaGZPiE-unsplash-768x1024.jpg"
                    data-object-fit="cover" /><span aria-hidden="true"
                    class="wp-block-cover__background has-background-dim-100 has-background-dim wp-block-cover__gradient-background has-background-gradient"
                    style="background:linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)"></span>
                <div class="wp-block-cover__inner-container">
                    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:heading {"level":3,"className":"has-text-align-left is-style-shadow-text","style":{"typography":{"textAlign":"left","fontStyle":"normal","fontWeight":"500"},"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"}}},"fontSize":"large"} -->
                        <h3 class="wp-block-heading has-text-align-left is-style-shadow-text has-large-font-size"
                            style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0;font-style:normal;font-weight:500">
                            Namibië</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
                        <p style="font-style:normal;font-weight:400">Adembenemende landschappen, uitgestrekte woestijnen
                            en
                            wildlife.</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button {"className":"is-style-ga-underline-button","icon":"arrow-right"} -->
                        <div class="wp-block-button is-style-ga-underline-button"><a
                                class="wp-block-button__link wp-element-button">Bekijk rondreizen</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
            </div>
            <!-- /wp:cover -->

            <!-- wp:cover {"url":"http://localhost:8898/wp-content/uploads/2026/04/birger-strahl-cusbuH6PdTM-unsplash-682x1024.jpg","id":1420,"isUserOverlayColor":true,"customGradient":"linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)","contentPosition":"bottom left","sizeSlug":"large","metadata":{"patternName":"go-africa-ollie-child/ga-destination-home","name":"Destination Home card"},"className":"is-style-ga-cover-hover-zoom","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|sm","topRight":"var:preset|border-radius|sm","bottomLeft":"var:preset|border-radius|sm","bottomRight":"var:preset|border-radius|sm"}},"spacing":{"blockGap":"var:preset|spacing|small","padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}},"dimensions":{"aspectRatio":"3/4"}},"layout":{"type":"constrained"},"href":"/destination/botswana/","linkDestination":"custom"} -->
            <div class="wp-block-cover has-custom-content-position is-position-bottom-left is-style-ga-cover-hover-zoom"
                style="border-top-left-radius:var(--wp--preset--border-radius--sm);border-top-right-radius:var(--wp--preset--border-radius--sm);border-bottom-left-radius:var(--wp--preset--border-radius--sm);border-bottom-right-radius:var(--wp--preset--border-radius--sm);padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)">
                <img class="wp-block-cover__image-background wp-image-1420 size-large" alt=""
                    src="http://localhost:8898/wp-content/uploads/2026/04/birger-strahl-cusbuH6PdTM-unsplash-682x1024.jpg"
                    data-object-fit="cover" /><span aria-hidden="true"
                    class="wp-block-cover__background has-background-dim-100 has-background-dim wp-block-cover__gradient-background has-background-gradient"
                    style="background:linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)"></span>
                <div class="wp-block-cover__inner-container">
                    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:heading {"level":3,"className":"has-text-align-left is-style-shadow-text","style":{"typography":{"textAlign":"left","fontStyle":"normal","fontWeight":"500"},"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"}}},"fontSize":"large"} -->
                        <h3 class="wp-block-heading has-text-align-left is-style-shadow-text has-large-font-size"
                            style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0;font-style:normal;font-weight:500">
                            Botswana</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
                        <p style="font-style:normal;font-weight:400">Exclusieve safari's in de Okavango Delta en Chobe
                            National Park.</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button {"className":"is-style-ga-underline-button","icon":"arrow-right"} -->
                        <div class="wp-block-button is-style-ga-underline-button"><a
                                class="wp-block-button__link wp-element-button">Bekijk rondreizen</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
            </div>
            <!-- /wp:cover -->

            <!-- wp:cover {"url":"http://localhost:8898/wp-content/uploads/2026/04/teresa-o-QnJMYgi5VeE-unsplash-768x1024.jpg","id":1421,"isUserOverlayColor":true,"customGradient":"linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)","contentPosition":"bottom left","sizeSlug":"large","metadata":{"patternName":"go-africa-ollie-child/ga-destination-home","name":"Destination Home card"},"className":"is-style-ga-cover-hover-zoom","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|sm","topRight":"var:preset|border-radius|sm","bottomLeft":"var:preset|border-radius|sm","bottomRight":"var:preset|border-radius|sm"}},"spacing":{"blockGap":"var:preset|spacing|small","padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}},"dimensions":{"aspectRatio":"3/4"}},"layout":{"type":"constrained"},"href":"/destination/zimbabwe/","linkDestination":"custom"} -->
            <div class="wp-block-cover has-custom-content-position is-position-bottom-left is-style-ga-cover-hover-zoom"
                style="border-top-left-radius:var(--wp--preset--border-radius--sm);border-top-right-radius:var(--wp--preset--border-radius--sm);border-bottom-left-radius:var(--wp--preset--border-radius--sm);border-bottom-right-radius:var(--wp--preset--border-radius--sm);padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)">
                <img class="wp-block-cover__image-background wp-image-1421 size-large" alt=""
                    src="http://localhost:8898/wp-content/uploads/2026/04/teresa-o-QnJMYgi5VeE-unsplash-768x1024.jpg"
                    data-object-fit="cover" /><span aria-hidden="true"
                    class="wp-block-cover__background has-background-dim-100 has-background-dim wp-block-cover__gradient-background has-background-gradient"
                    style="background:linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)"></span>
                <div class="wp-block-cover__inner-container">
                    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:heading {"level":3,"className":"has-text-align-left is-style-shadow-text","style":{"typography":{"textAlign":"left","fontStyle":"normal","fontWeight":"500"},"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"}}},"fontSize":"large"} -->
                        <h3 class="wp-block-heading has-text-align-left is-style-shadow-text has-large-font-size"
                            style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0;font-style:normal;font-weight:500">
                            Zimbabwe</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
                        <p style="font-style:normal;font-weight:400">Het land van de Victoria Watervallen en wildparken
                            zoals Hwange.</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button {"className":"is-style-ga-underline-button","icon":"arrow-right"} -->
                        <div class="wp-block-button is-style-ga-underline-button"><a
                                class="wp-block-button__link wp-element-button">Bekijk rondreizen</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
            </div>
            <!-- /wp:cover -->

            <!-- wp:cover {"url":"http://localhost:8898/wp-content/uploads/2026/04/birger-strahl-dBIOmT3vw1c-unsplash-684x1024.jpg","id":1422,"isUserOverlayColor":true,"customGradient":"linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)","contentPosition":"bottom left","sizeSlug":"large","metadata":{"patternName":"go-africa-ollie-child/ga-destination-home","name":"Destination Home card"},"className":"is-style-ga-cover-hover-zoom","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|sm","topRight":"var:preset|border-radius|sm","bottomLeft":"var:preset|border-radius|sm","bottomRight":"var:preset|border-radius|sm"}},"spacing":{"blockGap":"var:preset|spacing|small","padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}},"dimensions":{"aspectRatio":"3/4"}},"layout":{"type":"constrained"},"href":"/destination/zambia/","linkDestination":"custom"} -->
            <div class="wp-block-cover has-custom-content-position is-position-bottom-left is-style-ga-cover-hover-zoom"
                style="border-top-left-radius:var(--wp--preset--border-radius--sm);border-top-right-radius:var(--wp--preset--border-radius--sm);border-bottom-left-radius:var(--wp--preset--border-radius--sm);border-bottom-right-radius:var(--wp--preset--border-radius--sm);padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)">
                <img class="wp-block-cover__image-background wp-image-1422 size-large" alt=""
                    src="http://localhost:8898/wp-content/uploads/2026/04/birger-strahl-dBIOmT3vw1c-unsplash-684x1024.jpg"
                    data-object-fit="cover" /><span aria-hidden="true"
                    class="wp-block-cover__background has-background-dim-100 has-background-dim wp-block-cover__gradient-background has-background-gradient"
                    style="background:linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)"></span>
                <div class="wp-block-cover__inner-container">
                    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:heading {"level":3,"className":"has-text-align-left is-style-shadow-text","style":{"typography":{"textAlign":"left","fontStyle":"normal","fontWeight":"500"},"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"}}},"fontSize":"large"} -->
                        <h3 class="wp-block-heading has-text-align-left is-style-shadow-text has-large-font-size"
                            style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0;font-style:normal;font-weight:500">
                            Zambia</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
                        <p style="font-style:normal;font-weight:400">De bakermat van de wandelsafari. Ruig, authentiek
                            en
                            vol avontuur.</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button {"className":"is-style-ga-underline-button","icon":"arrow-right"} -->
                        <div class="wp-block-button is-style-ga-underline-button"><a
                                class="wp-block-button__link wp-element-button">Bekijk rondreizen</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
            </div>
            <!-- /wp:cover -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"metadata":{"name":"Separator"},"align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"}},"color":{"background":"#00000000"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide has-background"
        style="background-color:#00000000;margin-top:0;margin-bottom:0">
        <!-- wp:separator {"align":"wide","className":"is-style-separator-thin","style":{"color":{"background":"#1e4a3a24"}}} -->
        <hr class="wp-block-separator alignwide has-text-color has-alpha-channel-opacity has-background is-style-separator-thin"
            style="background-color:#1e4a3a24;color:#1e4a3a24" />
        <!-- /wp:separator -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"wide","className":"is-style-default","style":{"color":{"background":"#00000000"},"spacing":{"padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|x-large"},"blockGap":"var:preset|spacing|x-large","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide is-style-default has-background"
        style="background-color:#00000000;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--x-large);padding-bottom:var(--wp--preset--spacing--x-large)">
        <!-- wp:group {"align":"wide","layout":{"type":"constrained","justifyContent":"left","contentSize":"900px"}} -->
        <div class="wp-block-group alignwide">
            <!-- wp:heading {"align":"wide","className":"is-style-default","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"x-large"} -->
            <h2 class="wp-block-heading alignwide is-style-default has-primary-color has-text-color has-link-color has-x-large-font-size"
                style="font-style:normal;font-weight:500">Oost-Afrika</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"secondary"} -->
            <p class="has-secondary-color has-text-color has-link-color" style="font-style:normal;font-weight:500">De
                thuisbasis van de Grote Migratie, berggorilla's en het prachtige Malawimeer. Oost-Afrika is het
                kloppende hart van de Afrikaanse safari.</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"align":"wide","layout":{"type":"grid","minimumColumnWidth":"22rem"},"animationType":"fadeInUp","animationDuration":0.5,"animateOnScroll":true,"scrollOffset":-70,"animationPresetId":"home-cards-2","animateSequentially":true} -->
        <div class="wp-block-group alignwide">
            <!-- wp:cover {"url":"http://localhost:8898/wp-content/uploads/2026/04/bart-van-der-lugt-6kIBoPgi5q0-unsplash-576x1024.jpg","id":1417,"isUserOverlayColor":true,"customGradient":"linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)","contentPosition":"bottom left","sizeSlug":"large","metadata":{"patternName":"go-africa-ollie-child/ga-destination-home","name":"Destination Home card"},"className":"is-style-ga-cover-hover-zoom","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|sm","topRight":"var:preset|border-radius|sm","bottomLeft":"var:preset|border-radius|sm","bottomRight":"var:preset|border-radius|sm"}},"spacing":{"blockGap":"var:preset|spacing|small","padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}},"dimensions":{"aspectRatio":"3/4"}},"layout":{"type":"constrained"},"href":"/destination/tanzania/","linkDestination":"custom"} -->
            <div class="wp-block-cover has-custom-content-position is-position-bottom-left is-style-ga-cover-hover-zoom"
                style="border-top-left-radius:var(--wp--preset--border-radius--sm);border-top-right-radius:var(--wp--preset--border-radius--sm);border-bottom-left-radius:var(--wp--preset--border-radius--sm);border-bottom-right-radius:var(--wp--preset--border-radius--sm);padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)">
                <img class="wp-block-cover__image-background wp-image-1417 size-large" alt=""
                    src="http://localhost:8898/wp-content/uploads/2026/04/bart-van-der-lugt-6kIBoPgi5q0-unsplash-576x1024.jpg"
                    data-object-fit="cover" /><span aria-hidden="true"
                    class="wp-block-cover__background has-background-dim-100 has-background-dim wp-block-cover__gradient-background has-background-gradient"
                    style="background:linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)"></span>
                <div class="wp-block-cover__inner-container">
                    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:heading {"level":3,"className":"has-text-align-left is-style-shadow-text","style":{"typography":{"textAlign":"left","fontStyle":"normal","fontWeight":"500"},"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"}}},"fontSize":"large"} -->
                        <h3 class="wp-block-heading has-text-align-left is-style-shadow-text has-large-font-size"
                            style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0;font-style:normal;font-weight:500">
                            Tanzania</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
                        <p style="font-style:normal;font-weight:400">Huis van de Serengeti, de Big Five en de tropische
                            stranden van Zanzibar.</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button {"className":"is-style-ga-underline-button","icon":"arrow-right"} -->
                        <div class="wp-block-button is-style-ga-underline-button"><a
                                class="wp-block-button__link wp-element-button">Bekijk rondreizen</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
            </div>
            <!-- /wp:cover -->

            <!-- wp:cover {"url":"https://goafrica-rebuild.lightspeedwp.dev/wp-content/uploads/sergey-pesterev-DWXR-nAbxCk-unsplash-1-1280x857.jpg","id":58479,"isUserOverlayColor":true,"customGradient":"linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)","contentPosition":"bottom left","sizeSlug":"large","metadata":{"patternName":"go-africa-ollie-child/ga-destination-home","name":"Destination Home card"},"className":"is-style-ga-cover-hover-zoom","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|sm","topRight":"var:preset|border-radius|sm","bottomLeft":"var:preset|border-radius|sm","bottomRight":"var:preset|border-radius|sm"}},"spacing":{"blockGap":"var:preset|spacing|small","padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}},"dimensions":{"aspectRatio":"3/4"}},"layout":{"type":"constrained"},"href":"/destination/kenia/","linkDestination":"custom"} -->
            <div class="wp-block-cover has-custom-content-position is-position-bottom-left is-style-ga-cover-hover-zoom"
                style="border-top-left-radius:var(--wp--preset--border-radius--sm);border-top-right-radius:var(--wp--preset--border-radius--sm);border-bottom-left-radius:var(--wp--preset--border-radius--sm);border-bottom-right-radius:var(--wp--preset--border-radius--sm);padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)">
                <img class="wp-block-cover__image-background wp-image-58479 size-large" alt=""
                    src="https://goafrica-rebuild.lightspeedwp.dev/wp-content/uploads/sergey-pesterev-DWXR-nAbxCk-unsplash-1-1280x857.jpg"
                    data-object-fit="cover" /><span aria-hidden="true"
                    class="wp-block-cover__background has-background-dim-100 has-background-dim wp-block-cover__gradient-background has-background-gradient"
                    style="background:linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)"></span>
                <div class="wp-block-cover__inner-container">
                    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:heading {"level":3,"className":"has-text-align-left is-style-shadow-text","style":{"typography":{"textAlign":"left","fontStyle":"normal","fontWeight":"500"},"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"}}},"fontSize":"large"} -->
                        <h3 class="wp-block-heading has-text-align-left is-style-shadow-text has-large-font-size"
                            style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0;font-style:normal;font-weight:500">
                            Kenya</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
                        <p style="font-style:normal;font-weight:400">De bakermat van de safari. Masai Mara, Amboseli en
                            prachtige meren.</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button {"className":"is-style-ga-underline-button","icon":"arrow-right"} -->
                        <div class="wp-block-button is-style-ga-underline-button"><a
                                class="wp-block-button__link wp-element-button">Bekijk rondreizen</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
            </div>
            <!-- /wp:cover -->

            <!-- wp:cover {"url":"https://goafrica-rebuild.lightspeedwp.dev/wp-content/uploads/k3n-Qa2ln5HC1uk-unsplash-960x1280.jpg","id":58466,"isUserOverlayColor":true,"customGradient":"linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)","contentPosition":"bottom left","sizeSlug":"large","metadata":{"patternName":"go-africa-ollie-child/ga-destination-home","name":"Destination Home card"},"className":"is-style-ga-cover-hover-zoom","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|sm","topRight":"var:preset|border-radius|sm","bottomLeft":"var:preset|border-radius|sm","bottomRight":"var:preset|border-radius|sm"}},"spacing":{"blockGap":"var:preset|spacing|small","padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}},"dimensions":{"aspectRatio":"3/4"}},"layout":{"type":"constrained"},"href":"/destination/oeganda/","linkDestination":"custom"} -->
            <div class="wp-block-cover has-custom-content-position is-position-bottom-left is-style-ga-cover-hover-zoom"
                style="border-top-left-radius:var(--wp--preset--border-radius--sm);border-top-right-radius:var(--wp--preset--border-radius--sm);border-bottom-left-radius:var(--wp--preset--border-radius--sm);border-bottom-right-radius:var(--wp--preset--border-radius--sm);padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)">
                <img class="wp-block-cover__image-background wp-image-58466 size-large" alt=""
                    src="https://goafrica-rebuild.lightspeedwp.dev/wp-content/uploads/k3n-Qa2ln5HC1uk-unsplash-960x1280.jpg"
                    data-object-fit="cover" /><span aria-hidden="true"
                    class="wp-block-cover__background has-background-dim-100 has-background-dim wp-block-cover__gradient-background has-background-gradient"
                    style="background:linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)"></span>
                <div class="wp-block-cover__inner-container">
                    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:heading {"level":3,"className":"has-text-align-left is-style-shadow-text","style":{"typography":{"textAlign":"left","fontStyle":"normal","fontWeight":"500"},"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"}}},"fontSize":"large"} -->
                        <h3 class="wp-block-heading has-text-align-left is-style-shadow-text has-large-font-size"
                            style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0;font-style:normal;font-weight:500">
                            Oeganda</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
                        <p style="font-style:normal;font-weight:400">Ontmoet berggorilla's in het wild en ontdek de
                            Parel van Afrika.</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button {"className":"is-style-ga-underline-button","icon":"arrow-right"} -->
                        <div class="wp-block-button is-style-ga-underline-button"><a
                                class="wp-block-button__link wp-element-button">Bekijk rondreizen</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
            </div>
            <!-- /wp:cover -->

            <!-- wp:cover {"url":"https://goafrica-rebuild.lightspeedwp.dev/wp-content/uploads/omar-hakeem-2MEKm_xOHDY-unsplash-1280x719.jpg","id":58453,"isUserOverlayColor":true,"customGradient":"linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)","contentPosition":"bottom left","sizeSlug":"large","metadata":{"patternName":"go-africa-ollie-child/ga-destination-home","name":"Destination Home card"},"className":"is-style-ga-cover-hover-zoom","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|sm","topRight":"var:preset|border-radius|sm","bottomLeft":"var:preset|border-radius|sm","bottomRight":"var:preset|border-radius|sm"}},"spacing":{"blockGap":"var:preset|spacing|small","padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}},"dimensions":{"aspectRatio":"3/4"}},"layout":{"type":"constrained"},"href":"/destination/malawi/","linkDestination":"custom"} -->
            <div class="wp-block-cover has-custom-content-position is-position-bottom-left is-style-ga-cover-hover-zoom"
                style="border-top-left-radius:var(--wp--preset--border-radius--sm);border-top-right-radius:var(--wp--preset--border-radius--sm);border-bottom-left-radius:var(--wp--preset--border-radius--sm);border-bottom-right-radius:var(--wp--preset--border-radius--sm);padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)">
                <img class="wp-block-cover__image-background wp-image-58453 size-large" alt=""
                    src="https://goafrica-rebuild.lightspeedwp.dev/wp-content/uploads/omar-hakeem-2MEKm_xOHDY-unsplash-1280x719.jpg"
                    data-object-fit="cover" /><span aria-hidden="true"
                    class="wp-block-cover__background has-background-dim-100 has-background-dim wp-block-cover__gradient-background has-background-gradient"
                    style="background:linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)"></span>
                <div class="wp-block-cover__inner-container">
                    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:heading {"level":3,"className":"has-text-align-left is-style-shadow-text","style":{"typography":{"textAlign":"left","fontStyle":"normal","fontWeight":"500"},"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"}}},"fontSize":"large"} -->
                        <h3 class="wp-block-heading has-text-align-left is-style-shadow-text has-large-font-size"
                            style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0;font-style:normal;font-weight:500">
                            Malawi</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
                        <p style="font-style:normal;font-weight:400">Het warme hart van Afrika met het prachtige
                            Malawimeer.</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button {"className":"is-style-ga-underline-button","icon":"arrow-right"} -->
                        <div class="wp-block-button is-style-ga-underline-button"><a
                                class="wp-block-button__link wp-element-button">Bekijk rondreizen</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
            </div>
            <!-- /wp:cover -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"metadata":{"name":"Separator"},"align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"}},"color":{"background":"#00000000"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide has-background"
        style="background-color:#00000000;margin-top:0;margin-bottom:0">
        <!-- wp:separator {"align":"wide","className":"is-style-separator-thin","style":{"color":{"background":"#1e4a3a24"}}} -->
        <hr class="wp-block-separator alignwide has-text-color has-alpha-channel-opacity has-background is-style-separator-thin"
            style="background-color:#1e4a3a24;color:#1e4a3a24" />
        <!-- /wp:separator -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"wide","className":"is-style-default","style":{"color":{"background":"#00000000"},"spacing":{"padding":{"top":"var:preset|spacing|x-large","bottom":"0"},"blockGap":"var:preset|spacing|x-large","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide is-style-default has-background"
        style="background-color:#00000000;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--x-large);padding-bottom:0">
        <!-- wp:group {"align":"wide","layout":{"type":"constrained","justifyContent":"left","contentSize":"900px"}} -->
        <div class="wp-block-group alignwide">
            <!-- wp:heading {"align":"wide","className":"is-style-default","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"x-large"} -->
            <h2 class="wp-block-heading alignwide is-style-default has-primary-color has-text-color has-link-color has-x-large-font-size"
                style="font-style:normal;font-weight:500">Indische Oceaan Eilanden</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"secondary"} -->
            <p class="has-secondary-color has-text-color has-link-color" style="font-style:normal;font-weight:500">
                Tropische paradijzen met witte zandstranden, kristalhelder water en unieke biodiversiteit. Perfecte
                bestemmingen voor een strandvakantie na uw safari.</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"align":"wide","layout":{"type":"grid","minimumColumnWidth":"22rem"},"animationType":"fadeInUp","animationDuration":0.5,"animateOnScroll":true,"scrollOffset":-70,"animationPresetId":"home-cards-2","animateSequentially":true} -->
        <div class="wp-block-group alignwide">
            <!-- wp:cover {"url":"https://goafrica-rebuild.lightspeedwp.dev/wp-content/uploads/graphic-node-yPSbirjJWzs-unsplash-1-1280x854.jpg","id":58440,"isUserOverlayColor":true,"customGradient":"linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)","contentPosition":"bottom left","sizeSlug":"large","metadata":{"patternName":"go-africa-ollie-child/ga-destination-home","name":"Destination Home card"},"className":"is-style-ga-cover-hover-zoom","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|sm","topRight":"var:preset|border-radius|sm","bottomLeft":"var:preset|border-radius|sm","bottomRight":"var:preset|border-radius|sm"}},"spacing":{"blockGap":"var:preset|spacing|small","padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}},"dimensions":{"aspectRatio":"3/4"}},"layout":{"type":"constrained"},"href":"/destination/mauritius/","linkDestination":"custom"} -->
            <div class="wp-block-cover has-custom-content-position is-position-bottom-left is-style-ga-cover-hover-zoom"
                style="border-top-left-radius:var(--wp--preset--border-radius--sm);border-top-right-radius:var(--wp--preset--border-radius--sm);border-bottom-left-radius:var(--wp--preset--border-radius--sm);border-bottom-right-radius:var(--wp--preset--border-radius--sm);padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)">
                <img class="wp-block-cover__image-background wp-image-58440 size-large" alt=""
                    src="https://goafrica-rebuild.lightspeedwp.dev/wp-content/uploads/graphic-node-yPSbirjJWzs-unsplash-1-1280x854.jpg"
                    data-object-fit="cover" /><span aria-hidden="true"
                    class="wp-block-cover__background has-background-dim-100 has-background-dim wp-block-cover__gradient-background has-background-gradient"
                    style="background:linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)"></span>
                <div class="wp-block-cover__inner-container">
                    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:heading {"level":3,"className":"has-text-align-left is-style-shadow-text","style":{"typography":{"textAlign":"left","fontStyle":"normal","fontWeight":"500"},"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"}}},"fontSize":"large"} -->
                        <h3 class="wp-block-heading has-text-align-left is-style-shadow-text has-large-font-size"
                            style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0;font-style:normal;font-weight:500">
                            Mauritius</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
                        <p style="font-style:normal;font-weight:400">Tropisch paradijs met witte zandstranden.</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button {"className":"is-style-ga-underline-button","icon":"arrow-right"} -->
                        <div class="wp-block-button is-style-ga-underline-button"><a
                                class="wp-block-button__link wp-element-button">Bekijk rondreizen</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
            </div>
            <!-- /wp:cover -->

            <!-- wp:cover {"url":"https://goafrica-rebuild.lightspeedwp.dev/wp-content/uploads/dan-dy-WwUnM9iLWwM-unsplash-1280x960.jpg","id":58430,"isUserOverlayColor":true,"customGradient":"linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)","contentPosition":"bottom left","sizeSlug":"large","metadata":{"patternName":"go-africa-ollie-child/ga-destination-home","name":"Destination Home card"},"className":"is-style-ga-cover-hover-zoom","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|sm","topRight":"var:preset|border-radius|sm","bottomLeft":"var:preset|border-radius|sm","bottomRight":"var:preset|border-radius|sm"}},"spacing":{"blockGap":"var:preset|spacing|small","padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}},"dimensions":{"aspectRatio":"3/4"}},"layout":{"type":"constrained"},"href":"/destination/madagaskar/","linkDestination":"custom"} -->
            <div class="wp-block-cover has-custom-content-position is-position-bottom-left is-style-ga-cover-hover-zoom"
                style="border-top-left-radius:var(--wp--preset--border-radius--sm);border-top-right-radius:var(--wp--preset--border-radius--sm);border-bottom-left-radius:var(--wp--preset--border-radius--sm);border-bottom-right-radius:var(--wp--preset--border-radius--sm);padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)">
                <img class="wp-block-cover__image-background wp-image-58430 size-large" alt=""
                    src="https://goafrica-rebuild.lightspeedwp.dev/wp-content/uploads/dan-dy-WwUnM9iLWwM-unsplash-1280x960.jpg"
                    data-object-fit="cover" /><span aria-hidden="true"
                    class="wp-block-cover__background has-background-dim-100 has-background-dim wp-block-cover__gradient-background has-background-gradient"
                    style="background:linear-gradient(180deg,rgba(0,0,0,0) 36%,rgb(0,0,0) 100%)"></span>
                <div class="wp-block-cover__inner-container">
                    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:heading {"level":3,"className":"has-text-align-left is-style-shadow-text","style":{"typography":{"textAlign":"left","fontStyle":"normal","fontWeight":"500"},"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"}}},"fontSize":"large"} -->
                        <h3 class="wp-block-heading has-text-align-left is-style-shadow-text has-large-font-size"
                            style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0;font-style:normal;font-weight:500">
                            Madagaskar</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
                        <p style="font-style:normal;font-weight:400">Een unieke wereld vol lemurenen bijzondere
                            landschappen.</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button {"className":"is-style-ga-underline-button","icon":"arrow-right"} -->
                        <div class="wp-block-button is-style-ga-underline-button"><a
                                class="wp-block-button__link wp-element-button">Bekijk rondreizen</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
            </div>
            <!-- /wp:cover -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Separator"},"align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"primary-light","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-primary-light-background-color has-background"
    style="margin-top:0;margin-bottom:0">
    <!-- wp:separator {"align":"wide","className":"is-style-separator-thin","style":{"color":{"background":"#1e4a3a24"}}} -->
    <hr class="wp-block-separator alignwide has-text-color has-alpha-channel-opacity has-background is-style-separator-thin"
        style="background-color:#1e4a3a24;color:#1e4a3a24" />
    <!-- /wp:separator -->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Google Map"},"align":"full","className":"lsx-location-wrapper is-style-ga-page-section-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"primary-light","layout":{"type":"constrained"}} -->
<section
    class="wp-block-group alignfull lsx-location-wrapper is-style-ga-page-section-default has-primary-light-background-color has-background"
    style="margin-top:0;margin-bottom:0">
    <!-- wp:group {"metadata":{"name":"Map Container"},"align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0">
        <!-- wp:cover {"url":"/wp-content/plugins/tour-operator/assets/img/blocks/placeholder-map-1920x656.jpg","dimRatio":50,"customOverlayColor":"#e2f0f7","isUserOverlayColor":false,"isDark":false,"className":"lsx-map-preview","layout":{"type":"constrained"}} -->
        <div class="wp-block-cover is-light lsx-map-preview"><img class="wp-block-cover__image-background" alt=""
                src="/wp-content/plugins/tour-operator/assets/img/blocks/placeholder-map-1920x656.jpg"
                data-object-fit="cover" /><span aria-hidden="true" class="wp-block-cover__background has-background-dim"
                style="background-color:#e2f0f7"></span>
            <div class="wp-block-cover__inner-container">
                <!-- wp:paragraph {"align":"center","className":"has-text-align-center has-large-font-size","fontSize":"large"} -->
                <p class="has-text-align-center has-large-font-size"><a href="#">Click here to display the map</a></p>
                <!-- /wp:paragraph -->
            </div>
        </div>
        <!-- /wp:cover -->

        <!-- wp:group {"metadata":{"name":"Map Details","bindings":{"content":{"source":"lsx/map","type":"google"}}},"align":"wide","className":"hidden","layout":{"type":"default"}} -->
        <div class="wp-block-group alignwide hidden"></div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-2","theme":"go-africa-ollie-child","area":"footer"} /-->