<!-- wp:template-part {"slug":"header-2","theme":"go-africa-ollie-child","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Breadcrumbs"},"align":"full","className":"has-text-color has-link-color is-style-default","style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|primary-700"}}}},"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-text-color has-link-color is-style-default"
    style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small)">
    <!-- wp:group {"align":"wide","className":"is-style-default","fontSize":"small","layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide is-style-default has-small-font-size"><!-- wp:yoast-seo/breadcrumbs /--></div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Archive Hero","patternName":"core/block/57326"},"className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|medium"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-default"
    style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--x-large);padding-bottom:var(--wp--preset--spacing--medium)">
    <!-- wp:group {"align":"wide","layout":{"type":"constrained","justifyContent":"left","contentSize":"900px"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:heading {"level":1,"align":"wide","className":"is-style-default","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|primary-alt"}}}},"textColor":"primary-alt","fontSize":"xx-large"} -->
        <h1 class="wp-block-heading alignwide is-style-default has-primary-alt-color has-text-color has-link-color has-xx-large-font-size"
            style="font-style:normal;font-weight:500">Onze rondreizen</h1>
        <!-- /wp:heading -->

        <!-- wp:paragraph -->
        <p>Blader door onze uitgebreide collectie reizen en vind de perfecte reis voor uw volgende avontuur. Of u nu
            geïnteresseerd bent in historische ontdekkingstochten, natuurontspanning of levendige culturele ervaringen,
            ons aanbod aan reizen heeft voor ieder wat wils. </p>
        <!-- /wp:paragraph -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Archive Content"},"align":"wide","className":"is-style-ga-page-section-default","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide is-style-ga-page-section-default">
    <!-- wp:query {"queryId":55,"query":{"perPage":"9","pages":"3","offset":"0","postType":"tour","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"align":"wide","layout":{"type":"constrained","contentSize":""}} -->
    <div class="wp-block-query alignwide">
        <!-- wp:post-template {"lock":{"move":false,"remove":false},"align":"wide","layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
        <!-- wp:block {"ref":57619} /-->
        <!-- /wp:post-template -->

        <!-- wp:query-no-results -->
        <!-- wp:paragraph {"align":"center","placeholder":"Add text or blocks that will display when the query returns no results."} -->
        <p class="has-text-align-center">Unfortunately, there are no tours listed at the moment. Please check back soon
            as we regularly update our offerings.</p>
        <!-- /wp:paragraph -->
        <!-- /wp:query-no-results -->

        <!-- wp:group {"metadata":{"name":"Pagination Desktop"},"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}}},"layout":{"type":"constrained"},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"screenSize":{"hideOnScreenSize":{"medium":false,"small":true}}}}]}} -->
        <div class="wp-block-group alignwide"
            style="padding-top:var(--wp--preset--spacing--small);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--small);padding-left:var(--wp--preset--spacing--medium)">
            <!-- wp:query-pagination {"paginationArrow":"chevron","align":"wide","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
            <!-- wp:query-pagination-previous {"label":"Previous"} /-->

            <!-- wp:query-pagination-numbers {"midSize":1} /-->

            <!-- wp:query-pagination-next {"label":"Next"} /-->
            <!-- /wp:query-pagination -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"metadata":{"name":"Pagination Mobile"},"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"}}},"layout":{"type":"constrained"},"blockVisibility":{"controlSets":[{"id":1,"enable":true,"controls":{"screenSize":{"hideOnScreenSize":{"large":true,"medium":true}}}}]}} -->
        <div class="wp-block-group alignwide"
            style="padding-top:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small)">
            <!-- wp:query-pagination {"paginationArrow":"chevron","align":"wide","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
            <!-- wp:query-pagination-previous {"label":"Previous"} /-->

            <!-- wp:query-pagination-numbers {"midSize":0,"metadata":{"blockVisibility":false}} /-->

            <!-- wp:query-pagination-next {"label":"Next"} /-->
            <!-- /wp:query-pagination -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-2","theme":"go-africa-ollie-child","area":"footer"} /-->