<!-- wp:template-part {"slug":"top-header","theme":"go-africa-ollie-child","area":"header"} /-->

<!-- wp:template-part {"slug":"main-header","theme":"go-africa-ollie-child","area":"header"} /-->

<!-- wp:block {"ref":56903} /-->

<!-- wp:group {"tagName":"main","className":"site-content is-style-ga-page-section-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group site-content is-style-ga-page-section-default" style="margin-top:0;margin-bottom:0">
    <!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"ga-footer","theme":"go-africa-ollie-child","area":"uncategorized"} /-->