<!-- wp:template-part {"slug":"header-2","theme":"go-africa-ollie-child","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Breadcrumbs"},"align":"full","className":"is-style-default has-text-color has-link-color","style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|primary-700"}}}},"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"primary-light","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull is-style-default has-text-color has-link-color has-primary-light-background-color has-background"
    style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small)">
    <!-- wp:group {"align":"wide","className":"is-style-default","fontSize":"small","layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide is-style-default has-small-font-size"><!-- wp:yoast-seo/breadcrumbs /--></div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":70,"isUserOverlayColor":true,"minHeight":480,"customGradient":"linear-gradient(60deg,rgb(0,0,0) 0%,rgba(0,0,0,0) 76%)","contentPosition":"bottom center","tagName":"section","metadata":{"name":"Hero"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium"}}},"layout":{"type":"constrained"}} -->
<section class="wp-block-cover has-custom-content-position is-position-bottom-center"
    style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);min-height:480px">
    <span aria-hidden="true"
        class="wp-block-cover__background has-background-dim-70 has-background-dim has-background-gradient"
        style="background:linear-gradient(60deg,rgb(0,0,0) 0%,rgba(0,0,0,0) 76%)"></span>
    <div class="wp-block-cover__inner-container">
        <!-- wp:group {"align":"wide","layout":{"type":"constrained","justifyContent":"left"}} -->
        <div class="wp-block-group alignwide"><!-- wp:group {"layout":{"type":"default"}} -->
            <div class="wp-block-group">
                <!-- wp:post-title {"textAlign":"left","level":1,"className":"wp-block-heading has-text-align-center is-style-shadow-text","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","fontSize":"xx-large"} /-->

                <!-- wp:paragraph {"align":"left","metadata":{"bindings":{"content":{"source":"lsx/post-meta","args":{"key":"tagline"}}}},"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","fontSize":"small"} -->
                <p class="has-text-align-left has-base-color has-text-color has-link-color has-small-font-size"></p>
                <!-- /wp:paragraph -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
</section>
<!-- /wp:cover -->

<!-- wp:lsx-tour-operator/sticky-menu {"menuItems":[{"id":"overview","title":"Overview"},{"id":"map","title":"Map"},{"id":"itinerary","title":"Itinerary"},{"id":"gallery","title":"Gallery"},{"id":"pricing","title":"Pricing"},{"id":"related-tours","title":"Related Tours"}],"customActiveBackgroundColor":"#FFFBF5","customActiveTextColor":"#DD4611","hoverBackgroundColor":"primary-alt-light","hoverTextColor":"primary-alt","backgroundColor":"base","textColor":"main","fontSize":"base","style":{"typography":{"textAlign":"center"},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"}},"elements":{"link":{"color":{"text":"var:preset|color|main"}}}}} -->
<div style="margin-top:0;margin-bottom:0;--active-bg-color:#FFFBF5;--active-text-color:#DD4611;--hover-bg-color:var(--wp--preset--color--primary-alt-light);--hover-text-color:var(--wp--preset--color--primary-alt)"
    class="wp-block-lsx-tour-operator-sticky-menu has-text-align-center has-main-color has-base-background-color has-text-color has-background has-link-color has-base-font-size">
    <nav class="lsx-to-sticky-menu-nav is-layout-constrained has-global-padding" aria-label="Page section navigation">
        <ul class="lsx-to-sticky-menu-list alignwide" aria-label="Page sections">
            <li class="lsx-to-sticky-menu-item" data-section-id="overview"><a class="lsx-to-sticky-menu-button"
                    href="#overview" data-section-id="overview" aria-current="false"
                    style="padding-top:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small)">Overview</a>
            </li>
            <li class="lsx-to-sticky-menu-item" data-section-id="map"><a class="lsx-to-sticky-menu-button" href="#map"
                    data-section-id="map" aria-current="false"
                    style="padding-top:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small)">Map</a>
            </li>
            <li class="lsx-to-sticky-menu-item" data-section-id="itinerary"><a class="lsx-to-sticky-menu-button"
                    href="#itinerary" data-section-id="itinerary" aria-current="false"
                    style="padding-top:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small)">Itinerary</a>
            </li>
            <li class="lsx-to-sticky-menu-item" data-section-id="gallery"><a class="lsx-to-sticky-menu-button"
                    href="#gallery" data-section-id="gallery" aria-current="false"
                    style="padding-top:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small)">Gallery</a>
            </li>
            <li class="lsx-to-sticky-menu-item" data-section-id="pricing"><a class="lsx-to-sticky-menu-button"
                    href="#pricing" data-section-id="pricing" aria-current="false"
                    style="padding-top:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small)">Pricing</a>
            </li>
            <li class="lsx-to-sticky-menu-item" data-section-id="related-tours"><a class="lsx-to-sticky-menu-button"
                    href="#related-tours" data-section-id="related-tours" aria-current="false"
                    style="padding-top:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small)">Related
                    Tours</a></li>
        </ul>
    </nav>
</div>
<!-- /wp:lsx-tour-operator/sticky-menu -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Overview"},"align":"wide","className":"is-style-ga-page-section-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|large"}}},"backgroundColor":"base","layout":{"type":"constrained"},"addToStickyMenu":true,"stickyMenuId":"overview","stickyMenuTitle":"Overview"} -->
<section
    class="wp-block-group alignwide is-style-ga-page-section-default has-base-background-color has-background lsx-to-sticky-menu-section"
    id="overview" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--large)"
    data-sticky-menu-section="true" data-section-title="Overview" role="region" aria-labelledby="overview-header">
    <!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|large","left":"var:preset|spacing|large"}}}} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"66.66%"} -->
        <div class="wp-block-column" style="flex-basis:66.66%">
            <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|10","bottom":"var:preset|spacing|10"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
            <div class="wp-block-group alignwide"
                style="padding-top:var(--wp--preset--spacing--10);padding-bottom:var(--wp--preset--spacing--10)">
                <!-- wp:post-content {"align":"wide","fontSize":"base","layout":{"type":"default"}} /-->

                <!-- wp:read-more {"content":"Read more","hoverTextColor":"primary-alt","fontSize":"medium"} /-->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"33.34%","style":{"spacing":{"blockGap":"0"}}} -->
        <div class="wp-block-column" style="flex-basis:33.34%">
            <!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"constrained"},"stickyScrollOffset":"80px","unstickOnMobile":true} -->
            <div class="wp-block-group">
                <!-- wp:template-part {"slug":"fast-facts-tour","theme":"go-africa-ollie-child","area":"fast-facts"} /-->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</section>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Separator"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0">
    <!-- wp:separator {"align":"wide","className":"is-style-separator-thin","backgroundColor":"main-accent"} -->
    <hr
        class="wp-block-separator alignwide has-text-color has-main-accent-color has-alpha-channel-opacity has-main-accent-background-color has-background is-style-separator-thin" />
    <!-- /wp:separator -->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Map"},"align":"full","className":"lsx-location-wrapper is-style-ga-page-section-default","style":{"spacing":{"blockGap":"var:preset|spacing|x-large"}},"layout":{"type":"constrained"},"addToStickyMenu":true,"stickyMenuId":"map","stickyMenuTitle":"Map"} -->
<section
    class="wp-block-group alignfull lsx-location-wrapper is-style-ga-page-section-default lsx-to-sticky-menu-section"
    id="map" data-sticky-menu-section="true" data-section-title="Map" role="region" aria-labelledby="map-header">
    <!-- wp:group {"metadata":{"name":"Title"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontFamily":"heading"} -->
        <h2 class="wp-block-heading has-text-align-center has-heading-font-family"
            style="font-style:normal;font-weight:400">Tour Map</h2>
        <!-- /wp:heading -->

        <!-- wp:separator {"className":"is-style-separator-thin","style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"primary-alt"} -->
        <hr
            class="wp-block-separator has-text-color has-primary-alt-color has-alpha-channel-opacity has-primary-alt-background-color has-background is-style-separator-thin" />
        <!-- /wp:separator -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"metadata":{"name":"Map Container"},"align":"wide","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|md","topRight":"var:preset|border-radius|md","bottomLeft":"var:preset|border-radius|md","bottomRight":"var:preset|border-radius|md"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide"
        style="border-top-left-radius:var(--wp--preset--border-radius--md);border-top-right-radius:var(--wp--preset--border-radius--md);border-bottom-left-radius:var(--wp--preset--border-radius--md);border-bottom-right-radius:var(--wp--preset--border-radius--md)">
        <!-- wp:cover {"dimRatio":50,"customOverlayColor":"#e2f0f7","isUserOverlayColor":false,"minHeight":500,"isDark":false,"className":"lsx-map-preview","layout":{"type":"constrained"}} -->
        <div class="wp-block-cover is-light lsx-map-preview" style="min-height:500px"><span aria-hidden="true"
                class="wp-block-cover__background has-background-dim" style="background-color:#e2f0f7"></span>
            <div class="wp-block-cover__inner-container">
                <!-- wp:paragraph {"align":"center","className":"has-text-align-center has-large-font-size","fontSize":"large"} -->
                <p class="has-text-align-center has-large-font-size"><a href="#">Click here to display the map</a></p>
                <!-- /wp:paragraph -->
            </div>
        </div>
        <!-- /wp:cover -->
    </div>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Separator"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0">
    <!-- wp:separator {"align":"wide","className":"is-style-separator-thin","backgroundColor":"main-accent"} -->
    <hr
        class="wp-block-separator alignwide has-text-color has-main-accent-color has-alpha-channel-opacity has-main-accent-background-color has-background is-style-separator-thin" />
    <!-- /wp:separator -->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Itinerary"},"align":"wide","className":"lsx-itinerary-wrapper is-style-ga-page-section-default","style":{"spacing":{"blockGap":"var:preset|spacing|x-large"}},"layout":{"type":"constrained"},"addToStickyMenu":true,"stickyMenuId":"itinerary","stickyMenuTitle":"Itinerary"} -->
<section
    class="wp-block-group alignwide lsx-itinerary-wrapper is-style-ga-page-section-default lsx-to-sticky-menu-section"
    id="itinerary" data-sticky-menu-section="true" data-section-title="Itinerary" role="region"
    aria-labelledby="itinerary-header">
    <!-- wp:group {"metadata":{"name":"Title"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontFamily":"heading"} -->
        <h2 class="wp-block-heading has-text-align-center has-heading-font-family"
            style="font-style:normal;font-weight:400">Tour Itinerary</h2>
        <!-- /wp:heading -->

        <!-- wp:separator {"className":"is-style-separator-thin","style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"primary-alt"} -->
        <hr
            class="wp-block-separator has-text-color has-primary-alt-color has-alpha-channel-opacity has-primary-alt-background-color has-background is-style-separator-thin" />
        <!-- /wp:separator -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"metadata":{"name":"Itinerary Day Loop","bindings":{"content":{"source":"lsx/tour-itinerary"}}},"align":"wide","layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:columns {"metadata":{"categories":["lsx-tour-operator"],"patternName":"lsx-tour-operator/itinerary-list","name":"Itinerary Item"},"align":"full","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|medium","left":"var:preset|spacing|medium"}}}} -->
        <div class="wp-block-columns alignfull"><!-- wp:column {"width":"25%"} -->
            <div class="wp-block-column" style="flex-basis:25%">
                <!-- wp:group {"metadata":{"name":"Image"},"className":"itinerary-image","style":{"layout":{"selfStretch":"fixed","flexSize":"300px"},"dimensions":{"minHeight":"300px"},"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                <div class="wp-block-group itinerary-image" style="min-height:300px">
                    <!-- wp:image {"aspectRatio":"1","scale":"cover","sizeSlug":"medium","linkDestination":"none","className":"itinerary-image","style":{"border":{"radius":"8px"},"layout":{"selfStretch":"fixed","flexSize":"300px"}}} -->
                    <figure class="wp-block-image size-medium has-custom-border itinerary-image"><img
                            src="https://goafrica-rebuild.lightspeedwp.dev/wp-content/plugins/tour-operator/assets/img/blocks/placeholder.png"
                            alt="Itinerary day image" style="border-radius:8px;aspect-ratio:1;object-fit:cover" />
                    </figure>
                    <!-- /wp:image -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:column -->

            <!-- wp:column {"width":"","style":{"spacing":{"blockGap":"var:preset|spacing|large"}}} -->
            <div class="wp-block-column">
                <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|medium","left":"var:preset|spacing|medium"},"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"}}}} -->
                <div class="wp-block-columns"
                    style="padding-top:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small)">
                    <!-- wp:column {"width":"60%","style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
                    <div class="wp-block-column" style="flex-basis:60%">
                        <!-- wp:group {"metadata":{"name":"Day Heading"},"style":{"border":{"bottom":{"width":"0px","style":"none"},"top":[],"right":[],"left":[]}},"layout":{"type":"default"}} -->
                        <div class="wp-block-group" style="border-bottom-style:none;border-bottom-width:0px">
                            <!-- wp:heading {"level":3,"className":"itinerary-title","style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"medium"} -->
                            <h3 class="wp-block-heading itinerary-title has-medium-font-size"
                                style="font-style:normal;font-weight:400">Day 1 - 3</h3>
                            <!-- /wp:heading -->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:group {"metadata":{"name":"Description"},"className":"itinerary-description-wrapper","style":{"spacing":{"blockGap":"var:preset|spacing|30"},"layout":{"selfStretch":"fixed","flexSize":"60%"}},"layout":{"type":"constrained","justifyContent":"left"}} -->
                        <div class="wp-block-group itinerary-description-wrapper">
                            <!-- wp:paragraph {"className":"itinerary-description","style":{"spacing":{"margin":{"top":"0"}}}} -->
                            <p class="itinerary-description" style="margin-top:0">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Maecenas vehicula auctor nisl, ut suscipit purus
                                consectetur dictum. Sed dapibus congue dolor sed iaculis. Fusce in molestie metus, vitae
                                commodo nibh.</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:read-more {"content":"Read more","hoverTextColor":"primary-alt","className":"is-style-default","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"base"} /-->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:column -->

                    <!-- wp:column {"width":"40%"} -->
                    <div class="wp-block-column" style="flex-basis:40%">
                        <!-- wp:group {"metadata":{"name":"Information"},"className":"lsx-itinerary-info","style":{"border":{"radius":"0.5rem"},"spacing":{"blockGap":"var:preset|spacing|small"}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
                        <div class="wp-block-group lsx-itinerary-info has-base-background-color has-background"
                            style="border-radius:0.5rem">
                            <!-- wp:group {"metadata":{"name":"Location Row"},"className":"itin-location-wrapper","style":{"spacing":{"blockGap":"0.3125rem"},"typography":{"fontStyle":"normal","fontWeight":"500"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
                            <div class="wp-block-group itin-location-wrapper" style="font-style:normal;font-weight:500">
                                <!-- wp:outermost/icon-block {"iconName":"","iconColor":"primary-alt","iconColorValue":"#DD4611","width":"24px"} -->
                                <div class="wp-block-outermost-icon-block">
                                    <div class="icon-container has-icon-color has-primary-alt-color"
                                        style="color:#DD4611;width:24px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                            viewBox="0 0 256 256">
                                            <path
                                                d="M249.94,120.24l-27.05-6.76a95.86,95.86,0,0,0-80.37-80.37l-6.76-27a8,8,0,0,0-15.52,0l-6.76,27.05a95.86,95.86,0,0,0-80.37,80.37l-27,6.76a8,8,0,0,0,0,15.52l27.05,6.76a95.86,95.86,0,0,0,80.37,80.37l6.76,27.05a8,8,0,0,0,15.52,0l6.76-27.05a95.86,95.86,0,0,0,80.37-80.37l27.05-6.76a8,8,0,0,0,0-15.52Zm-95.49,22.9L139.31,128l15.14-15.14L215,128Zm-52.9,0L41,128l60.57-15.14L116.69,128ZM205.77,109.2,158.6,97.4,146.8,50.23A79.88,79.88,0,0,1,205.77,109.2Zm-62.63-7.65L128,116.69l-15.14-15.14L128,41ZM109.2,50.23,97.4,97.4,50.23,109.2A79.88,79.88,0,0,1,109.2,50.23Zm-59,96.57L97.4,158.6l11.8,47.17A79.88,79.88,0,0,1,50.23,146.8Zm62.63,7.65L128,139.31l15.14,15.14L128,215Zm33.94,51.32,11.8-47.17,47.17-11.8A79.88,79.88,0,0,1,146.8,205.77Z">
                                            </path>
                                        </svg></div>
                                </div>
                                <!-- /wp:outermost/icon-block -->

                                <!-- wp:paragraph {"metadata":{"name":"Location Value"},"className":"itinerary-location","fontSize":"small","prefix":"Location:"} -->
                                <p class="itinerary-location has-small-font-size">Card Link</p>
                                <!-- /wp:paragraph -->
                            </div>
                            <!-- /wp:group -->

                            <!-- wp:group {"metadata":{"name":"Accommodation Row"},"className":"itin-location-wrapper","style":{"spacing":{"blockGap":"0.3125rem"},"typography":{"fontStyle":"normal","fontWeight":"500"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
                            <div class="wp-block-group itin-location-wrapper" style="font-style:normal;font-weight:500">
                                <!-- wp:outermost/icon-block {"iconName":"","iconColor":"primary-alt","iconColorValue":"#DD4611","width":"24px"} -->
                                <div class="wp-block-outermost-icon-block">
                                    <div class="icon-container has-icon-color has-primary-alt-color"
                                        style="color:#DD4611;width:24px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                            viewBox="0 0 256 256">
                                            <path
                                                d="M240,208H224V136l2.34,2.34A8,8,0,0,0,237.66,127L139.31,28.68a16,16,0,0,0-22.62,0L18.34,127a8,8,0,0,0,11.32,11.31L32,136v72H16a8,8,0,0,0,0,16H240a8,8,0,0,0,0-16ZM48,120l80-80,80,80v88H160V152a8,8,0,0,0-8-8H104a8,8,0,0,0-8,8v56H48Zm96,88H112V160h32Z">
                                            </path>
                                        </svg></div>
                                </div>
                                <!-- /wp:outermost/icon-block -->

                                <!-- wp:paragraph {"metadata":{"name":"Accommodation Value"},"className":"itinerary-location","fontSize":"small","prefix":"Accommodation:"} -->
                                <p class="itinerary-location has-small-font-size">Card Link</p>
                                <!-- /wp:paragraph -->
                            </div>
                            <!-- /wp:group -->

                            <!-- wp:group {"metadata":{"name":"Type Row"},"className":"itin-location-wrapper","style":{"spacing":{"blockGap":"0.3125rem"},"typography":{"fontStyle":"normal","fontWeight":"500"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
                            <div class="wp-block-group itin-location-wrapper" style="font-style:normal;font-weight:500">
                                <!-- wp:outermost/icon-block {"iconName":"","iconColor":"primary-alt","iconColorValue":"#DD4611","width":"24px"} -->
                                <div class="wp-block-outermost-icon-block">
                                    <div class="icon-container has-icon-color has-primary-alt-color"
                                        style="color:#DD4611;width:24px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                            viewBox="0 0 256 256">
                                            <path
                                                d="M219.31,108.68l-80-80a16,16,0,0,0-22.62,0l-80,80A15.87,15.87,0,0,0,32,120v96a8,8,0,0,0,8,8H216a8,8,0,0,0,8-8V120A15.87,15.87,0,0,0,219.31,108.68ZM208,208H48V120l80-80,80,80Z">
                                            </path>
                                        </svg></div>
                                </div>
                                <!-- /wp:outermost/icon-block -->

                                <!-- wp:paragraph {"metadata":{"name":"Type Value"},"className":"itinerary-location","fontSize":"small","prefix":"Type:"} -->
                                <p class="itinerary-location has-small-font-size">Card Link</p>
                                <!-- /wp:paragraph -->
                            </div>
                            <!-- /wp:group -->

                            <!-- wp:group {"metadata":{"name":"Drinks Basis Row"},"className":"itin-location-wrapper","style":{"spacing":{"blockGap":"0.3125rem"},"typography":{"fontStyle":"normal","fontWeight":"500"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
                            <div class="wp-block-group itin-location-wrapper" style="font-style:normal;font-weight:500">
                                <!-- wp:outermost/icon-block {"iconName":"","iconColor":"primary-alt","iconColorValue":"#DD4611","width":"24px"} -->
                                <div class="wp-block-outermost-icon-block">
                                    <div class="icon-container has-icon-color has-primary-alt-color"
                                        style="color:#DD4611;width:24px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                            viewBox="0 0 256 256">
                                            <path
                                                d="M206,26.69A8,8,0,0,0,200,24H56a8,8,0,0,0-7.94,9l23.15,193A16,16,0,0,0,87.1,240h81.8a16,16,0,0,0,15.89-14.09L207.94,33A8,8,0,0,0,206,26.69ZM191,40,188.1,64H67.9L65,40ZM168.9,224H87.1L69.82,80H186.18Z">
                                            </path>
                                        </svg></div>
                                </div>
                                <!-- /wp:outermost/icon-block -->

                                <!-- wp:paragraph {"metadata":{"name":"Drinks Basis Value"},"className":"itinerary-location","fontSize":"small","prefix":"Drinks Basis:"} -->
                                <p class="itinerary-location has-small-font-size">Card Link</p>
                                <!-- /wp:paragraph -->
                            </div>
                            <!-- /wp:group -->

                            <!-- wp:group {"metadata":{"name":"Room Basis Row"},"className":"itin-location-wrapper","style":{"spacing":{"blockGap":"0.3125rem"},"typography":{"fontStyle":"normal","fontWeight":"500"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
                            <div class="wp-block-group itin-location-wrapper" style="font-style:normal;font-weight:500">
                                <!-- wp:outermost/icon-block {"iconName":"","iconColor":"primary-alt","iconColorValue":"#DD4611","width":"24px"} -->
                                <div class="wp-block-outermost-icon-block">
                                    <div class="icon-container has-icon-color has-primary-alt-color"
                                        style="color:#DD4611;width:24px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                            viewBox="0 0 256 256">
                                            <path
                                                d="M24,184H232a8,8,0,0,0,0-16h-8V152a96.12,96.12,0,0,0-88-95.66V40h16a8,8,0,0,0,0-16H104a8,8,0,0,0,0,16h16V56.34A96.12,96.12,0,0,0,32,152v16H24a8,8,0,0,0,0,16Zm24-32a80,80,0,0,1,160,0v16H48Zm192,56a8,8,0,0,1-8,8H24a8,8,0,0,1,0-16H232A8,8,0,0,1,240,208Z">
                                            </path>
                                        </svg></div>
                                </div>
                                <!-- /wp:outermost/icon-block -->

                                <!-- wp:paragraph {"metadata":{"name":"Room Basis Value"},"className":"itinerary-location","fontSize":"small","prefix":"Room Basis:"} -->
                                <p class="itinerary-location has-small-font-size">Card Link</p>
                                <!-- /wp:paragraph -->
                            </div>
                            <!-- /wp:group -->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:column -->
                </div>
                <!-- /wp:columns -->
            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Separator"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0">
    <!-- wp:separator {"align":"wide","className":"is-style-separator-thin","backgroundColor":"main-accent"} -->
    <hr
        class="wp-block-separator alignwide has-text-color has-main-accent-color has-alpha-channel-opacity has-main-accent-background-color has-background is-style-separator-thin" />
    <!-- /wp:separator -->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Gallery"},"className":"lsx-gallery-wrapper is-style-ga-page-section-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|x-large"}},"layout":{"type":"constrained"},"addToStickyMenu":true,"stickyMenuId":"gallery","stickyMenuTitle":"Gallery"} -->
<section id="gallery"
    class="wp-block-group lsx-gallery-wrapper is-style-ga-page-section-default lsx-to-sticky-menu-section"
    style="margin-top:0;margin-bottom:0" data-sticky-menu-section="true" data-section-title="Gallery" role="region"
    aria-labelledby="gallery-header">
    <!-- wp:group {"metadata":{"name":"Title"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontFamily":"heading"} -->
        <h2 class="wp-block-heading has-text-align-center has-heading-font-family"
            style="font-style:normal;font-weight:400">Gallery</h2>
        <!-- /wp:heading -->

        <!-- wp:separator {"className":"is-style-separator-thin","style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"primary-alt"} -->
        <hr
            class="wp-block-separator has-text-color has-primary-alt-color has-alpha-channel-opacity has-primary-alt-background-color has-background is-style-separator-thin" />
        <!-- /wp:separator -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:gallery {"linkTarget":"_blank","linkTo":"media","sizeSlug":"thumbnail","metadata":{"name":"TO Gallery","bindings":{"content":{"source":"lsx/gallery"}}},"align":"wide"} -->
        <figure class="wp-block-gallery alignwide has-nested-images columns-default is-cropped">
            <!-- wp:image {"linkDestination":"media"} -->
            <figure class="wp-block-image"><img alt="" /></figure>
            <!-- /wp:image -->

            <!-- wp:image {"linkDestination":"media"} -->
            <figure class="wp-block-image"><img alt="" /></figure>
            <!-- /wp:image -->

            <!-- wp:image {"linkDestination":"media"} -->
            <figure class="wp-block-image"><img alt="" /></figure>
            <!-- /wp:image -->
        </figure>
        <!-- /wp:gallery -->
    </div>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Separator"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0">
    <!-- wp:separator {"align":"wide","className":"is-style-separator-thin","backgroundColor":"main-accent"} -->
    <hr
        class="wp-block-separator alignwide has-text-color has-main-accent-color has-alpha-channel-opacity has-main-accent-background-color has-background is-style-separator-thin" />
    <!-- /wp:separator -->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Pricing"},"align":"wide","className":"is-style-ga-page-section-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"base","layout":{"type":"constrained","contentSize":""},"addToStickyMenu":true,"stickyMenuId":"pricing","stickyMenuTitle":"Pricing"} -->
<section
    class="wp-block-group alignwide is-style-ga-page-section-default has-base-background-color has-background lsx-to-sticky-menu-section"
    id="pricing" style="margin-top:0;margin-bottom:0" data-sticky-menu-section="true" data-section-title="Pricing"
    role="region" aria-labelledby="pricing-header">
    <!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|large","left":"var:preset|spacing|large"}}}} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"50%"} -->
        <div class="wp-block-column" style="flex-basis:50%" id="lsx-included-wrapper">
            <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"primary","fontSize":"medium"} -->
            <p class="has-primary-color has-text-color has-link-color has-medium-font-size"
                style="font-style:normal;font-weight:600">Price Includes: </p>
            <!-- /wp:paragraph -->

            <!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"lsx/post-meta","args":{"key":"included"}}}}} -->
            <p></p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"50%","className":"lsx-not-included-wrapper"} -->
        <div class="wp-block-column lsx-not-included-wrapper" style="flex-basis:50%">
            <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"primary","fontSize":"medium"} -->
            <p class="has-primary-color has-text-color has-link-color has-medium-font-size"
                style="font-style:normal;font-weight:600">Price Excludes:</p>
            <!-- /wp:paragraph -->

            <!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"lsx/post-meta","args":{"key":"not_included"}}}}} -->
            <p></p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</section>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Separator"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0">
    <!-- wp:separator {"align":"wide","className":"is-style-separator-thin","backgroundColor":"main-accent"} -->
    <hr
        class="wp-block-separator alignwide has-text-color has-main-accent-color has-alpha-channel-opacity has-main-accent-background-color has-background is-style-separator-thin" />
    <!-- /wp:separator -->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Related Tours"},"align":"full","className":"lsx-tour-related-tour-query-wrapper is-style-ga-page-section-default","style":{"spacing":{"blockGap":"var:preset|spacing|x-large"}},"layout":{"type":"constrained"},"addToStickyMenu":true,"stickyMenuId":"related-tours","stickyMenuTitle":"Related Tours"} -->
<section
    class="wp-block-group alignfull lsx-tour-related-tour-query-wrapper is-style-ga-page-section-default lsx-to-sticky-menu-section"
    id="related-tours" data-sticky-menu-section="true" data-section-title="Related Tours" role="region"
    aria-labelledby="related-tours-header">
    <!-- wp:group {"metadata":{"name":"Title"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontFamily":"heading"} -->
        <h2 class="wp-block-heading has-text-align-center has-heading-font-family"
            style="font-style:normal;font-weight:400">Related tours</h2>
        <!-- /wp:heading -->

        <!-- wp:separator {"className":"is-style-separator-thin","style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"primary-alt"} -->
        <hr
            class="wp-block-separator has-text-color has-primary-alt-color has-alpha-channel-opacity has-primary-alt-background-color has-background is-style-separator-thin" />
        <!-- /wp:separator -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:query {"queryId":2,"query":{"perPage":6,"postType":"tour","order":"asc","orderBy":"title"},"metadata":{"name":"Related Tours Query"},"align":"wide","className":"lsx-to-slider"} -->
        <div class="wp-block-query alignwide lsx-to-slider">
            <!-- wp:post-template {"className":"lsx-tour-related-tour-query","layout":{"type":"grid","columnCount":3}} -->
            <!-- wp:block {"ref":57619} /-->
            <!-- /wp:post-template -->
        </div>
        <!-- /wp:query -->
    </div>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-2","theme":"go-africa-ollie-child","area":"footer"} /-->