<!-- wp:template-part {"slug":"header-2","theme":"go-africa-ollie-child","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Breadcrumbs"},"align":"full","className":"has-text-color has-link-color is-style-default","style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|primary-700"}}}},"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-text-color has-link-color is-style-default"
    style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small)">
    <!-- wp:group {"align":"wide","className":"is-style-default","fontSize":"small","layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide is-style-default has-small-font-size"><!-- wp:yoast-seo/breadcrumbs /--></div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":60,"isUserOverlayColor":true,"minHeight":400,"customGradient":"linear-gradient(60deg,rgb(0,0,0) 0%,rgba(0,0,0,0) 77%)","contentPosition":"bottom center","tagName":"section","metadata":{"name":"Hero"},"align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium"}}},"layout":{"type":"constrained"}} -->
<section class="wp-block-cover alignfull has-custom-content-position is-position-bottom-center"
    style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);min-height:400px">
    <span aria-hidden="true"
        class="wp-block-cover__background has-background-dim-60 has-background-dim has-background-gradient"
        style="background:linear-gradient(60deg,rgb(0,0,0) 0%,rgba(0,0,0,0) 77%)"></span>
    <div class="wp-block-cover__inner-container">
        <!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|xxxx-large"}},"layout":{"type":"constrained","justifyContent":"left"}} -->
        <div class="wp-block-group alignwide"><!-- wp:group {"layout":{"type":"constrained"}} -->
            <div class="wp-block-group">
                <!-- wp:post-terms {"term":"category","className":"is-style-term-button","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|sm","topRight":"var:preset|border-radius|sm","bottomLeft":"var:preset|border-radius|sm","bottomRight":"var:preset|border-radius|sm"}}},"fontSize":"base"} /-->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"layout":{"type":"constrained"}} -->
            <div class="wp-block-group">
                <!-- wp:post-title {"textAlign":"left","level":1,"className":"wp-block-heading has-text-align-center is-style-shadow-text","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","fontSize":"xx-large"} /-->

                <!-- wp:group {"metadata":{"name":"Meta"},"layout":{"type":"flex","flexWrap":"wrap"}} -->
                <div class="wp-block-group">
                    <!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group">
                        <!-- wp:outermost/icon-block {"iconName":"","iconColor":"base","iconColorValue":"#FFFFFF","width":"24px"} -->
                        <div class="wp-block-outermost-icon-block">
                            <div class="icon-container has-icon-color has-base-color"
                                style="color:#FFFFFF;width:24px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                    viewBox="0 0 256 256">
                                    <path
                                        d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Z">
                                    </path>
                                </svg></div>
                        </div>
                        <!-- /wp:outermost/icon-block -->

                        <!-- wp:post-date {"datetime":"2026-04-23T10:45:14.464Z","format":"j M Y","fontSize":"base"} /-->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group">
                        <!-- wp:outermost/icon-block {"iconName":"","iconColor":"base","iconColorValue":"#FFFFFF","width":"24px"} -->
                        <div class="wp-block-outermost-icon-block">
                            <div class="icon-container has-icon-color has-base-color"
                                style="color:#FFFFFF;width:24px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                    viewBox="0 0 256 256">
                                    <path
                                        d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm64-88a8,8,0,0,1-8,8H128a8,8,0,0,1-8-8V72a8,8,0,0,1,16,0v48h48A8,8,0,0,1,192,128Z">
                                    </path>
                                </svg></div>
                        </div>
                        <!-- /wp:outermost/icon-block -->

                        <!-- wp:post-time-to-read {"fontSize":"base"} /-->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group">
                        <!-- wp:outermost/icon-block {"iconName":"","iconColor":"base","iconColorValue":"#FFFFFF","width":"24px"} -->
                        <div class="wp-block-outermost-icon-block">
                            <div class="icon-container has-icon-color has-base-color"
                                style="color:#FFFFFF;width:24px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                    viewBox="0 0 256 256">
                                    <path
                                        d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24ZM74.08,197.5a64,64,0,0,1,107.84,0,87.83,87.83,0,0,1-107.84,0ZM96,120a32,32,0,1,1,32,32A32,32,0,0,1,96,120Zm97.76,66.41a79.66,79.66,0,0,0-36.06-28.75,48,48,0,1,0-59.4,0,79.66,79.66,0,0,0-36.06,28.75,88,88,0,1,1,131.52,0Z">
                                    </path>
                                </svg></div>
                        </div>
                        <!-- /wp:outermost/icon-block -->

                        <!-- wp:post-author-name {"fontSize":"base"} /-->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
</section>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Content Area"},"align":"wide","className":"is-style-ga-page-section-default","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|x-large"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignwide is-style-ga-page-section-default"
    style="padding-bottom:var(--wp--preset--spacing--x-large)"><!-- wp:columns {"align":"wide"} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"66.66%"} -->
        <div class="wp-block-column" style="flex-basis:66.66%">
            <!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->

            <!-- wp:group {"metadata":{"name":"Tags"},"layout":{"type":"constrained"}} -->
            <div class="wp-block-group">
                <!-- wp:group {"className":"post-meta","style":{"border":{"radius":"5px"},"spacing":{"margin":{"top":"var:preset|spacing|large"}}},"fontSize":"small","layout":{"type":"flex","justifyContent":"space-between"}} -->
                <div class="wp-block-group post-meta has-small-font-size"
                    style="border-radius:5px;margin-top:var(--wp--preset--spacing--large)">
                    <!-- wp:post-terms {"term":"post_tag","className":"is-style-term-button"} /--></div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"33.33%"} -->
        <div class="wp-block-column" style="flex-basis:33.33%">
            <!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"constrained"},"stickyScrollOffset":"140px","unstickOnMobile":true} -->
            <div class="wp-block-group">
                <!-- wp:group {"style":{"border":{"radius":{"topLeft":"var:preset|border-radius|sm","topRight":"var:preset|border-radius|sm","bottomLeft":"var:preset|border-radius|sm","bottomRight":"var:preset|border-radius|sm"},"width":"1px"},"spacing":{"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|small","right":"var:preset|spacing|small"},"blockGap":"var:preset|spacing|medium"},"shadow":"var:preset|shadow|small-dark"},"borderColor":"primary-alt","layout":{"type":"constrained"}} -->
                <div class="wp-block-group has-border-color has-primary-alt-border-color"
                    style="border-width:1px;border-top-left-radius:var(--wp--preset--border-radius--sm);border-top-right-radius:var(--wp--preset--border-radius--sm);border-bottom-left-radius:var(--wp--preset--border-radius--sm);border-bottom-right-radius:var(--wp--preset--border-radius--sm);padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--small);box-shadow:var(--wp--preset--shadow--small-dark)">
                    <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-alt"}}},"typography":{"textAlign":"center"}},"textColor":"primary-alt"} -->
                        <h3
                            class="wp-block-heading has-text-align-center has-primary-alt-color has-text-color has-link-color">
                            Geïnspireerd?</h3>
                        <!-- /wp:heading -->

                        <!-- wp:paragraph {"className":"has-secondary-color has-text-color has-link-color","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"textAlign":"center"}},"textColor":"secondary"} -->
                        <p class="has-text-align-center has-secondary-color has-text-color has-link-color">Wil jij ook
                            op safari naar Tanzania? Wij helpen je graag met het samenstellen van jouw droomreis.</p>
                        <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:buttons -->
                    <div class="wp-block-buttons"><!-- wp:button {"width":100,"className":"is-style-ga-cta-button"} -->
                        <div class="wp-block-button has-custom-width wp-block-button__width-100 is-style-ga-cta-button">
                            <a class="wp-block-button__link wp-element-button">Vraag offerte aan</a></div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</main>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
    style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small)">
    <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"var:preset|spacing|medium","left":"var:preset|spacing|medium"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group alignwide"
        style="padding-right:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)">
        <!-- wp:post-navigation-link {"type":"previous","label":"","showTitle":true,"arrow":"chevron"} /-->

        <!-- wp:post-navigation-link {"label":"","showTitle":true,"arrow":"chevron"} /-->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Latest Posts"},"align":"full","className":"is-style-ga-page-section-default","style":{"spacing":{"blockGap":"var:preset|spacing|x-large","padding":{"top":"var:preset|spacing|x-large"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull is-style-ga-page-section-default"
    style="padding-top:var(--wp--preset--spacing--x-large)">
    <!-- wp:group {"metadata":{"name":"Title"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"400","textAlign":"center"}},"fontFamily":"heading"} -->
        <h2 class="wp-block-heading has-text-align-center has-heading-font-family"
            style="font-style:normal;font-weight:400">Recent posts</h2>
        <!-- /wp:heading -->

        <!-- wp:separator {"className":"is-style-separator-thin","style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"primary-alt"} -->
        <hr
            class="wp-block-separator has-text-color has-primary-alt-color has-alpha-channel-opacity has-primary-alt-background-color has-background is-style-separator-thin" />
        <!-- /wp:separator -->
    </div>
    <!-- /wp:group -->

    <!-- wp:query {"queryId":1,"query":{"perPage":6,"pages":"3","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"align":"wide"} -->
    <div class="wp-block-query alignwide">
        <!-- wp:post-template {"layout":{"type":"grid","columnCount":null,"minimumColumnWidth":"22rem"}} -->
        <!-- wp:group {"metadata":{"name":"Blog Card","patternName":"go-africa-ollie-child/ga-blog-card"},"className":"overflow-hidden is-style-ga-tour-card","style":{"spacing":{"blockGap":"0"},"border":{"radius":"0.5rem"}},"layout":{"type":"default"},"ariaLabel":"Tour Card","linkDestination":"post"} -->
        <div aria-label="Tour Card" class="wp-block-group overflow-hidden is-style-ga-tour-card"
            style="border-radius:0.5rem">
            <!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"customOverlayColor":"#f3ebef","isUserOverlayColor":false,"contentPosition":"top left","isDark":false,"style":{"dimensions":{"aspectRatio":"3/2"}},"layout":{"type":"constrained"}} -->
            <div class="wp-block-cover is-light has-custom-content-position is-position-top-left"><span
                    aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"
                    style="background-color:#f3ebef"></span>
                <div class="wp-block-cover__inner-container">
                    <!-- wp:post-terms {"term":"category","separator":"   ","className":"is-style-term-button ga-tour-card-badges","style":{"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"}}}} /-->
                </div>
            </div>
            <!-- /wp:cover -->

            <!-- wp:group {"metadata":{"name":"Content"},"style":{"spacing":{"padding":{"right":"var:preset|spacing|small","left":"var:preset|spacing|small","top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"},"blockGap":"var:preset|spacing|small"}},"layout":{"type":"default"}} -->
            <div class="wp-block-group"
                style="padding-top:var(--wp--preset--spacing--small);padding-right:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small);padding-left:var(--wp--preset--spacing--small)">
                <!-- wp:group {"metadata":{"name":"Title"},"className":"center-vertically","style":{"dimensions":{"minHeight":"0rem"},"spacing":{"padding":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
                <div class="wp-block-group center-vertically" style="min-height:0rem;padding-top:0;padding-bottom:0">
                    <!-- wp:post-title {"textAlign":"left","level":3,"isLink":true,"style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|primary-700"}},"color":{"text":"var:preset|color|main"}}},"typography":{"lineHeight":"1.25"}},"textColor":"main","fontSize":"medium"} /-->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"metadata":{"name":"Meta"},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group">
                    <!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group">
                        <!-- wp:outermost/icon-block {"iconName":"","iconColor":"primary-alt","iconColorValue":"#DD4611","width":"20px"} -->
                        <div class="wp-block-outermost-icon-block">
                            <div class="icon-container has-icon-color has-primary-alt-color"
                                style="color:#DD4611;width:20px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                    viewBox="0 0 256 256">
                                    <path
                                        d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Z">
                                    </path>
                                </svg></div>
                        </div>
                        <!-- /wp:outermost/icon-block -->

                        <!-- wp:post-date {"datetime":"2026-04-23T10:45:14.464Z","format":"j M Y","fontSize":"x-small"} /-->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group">
                        <!-- wp:outermost/icon-block {"iconName":"","iconColor":"primary-alt","iconColorValue":"#DD4611","width":"20px"} -->
                        <div class="wp-block-outermost-icon-block">
                            <div class="icon-container has-icon-color has-primary-alt-color"
                                style="color:#DD4611;width:20px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                    viewBox="0 0 256 256">
                                    <path
                                        d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm64-88a8,8,0,0,1-8,8H128a8,8,0,0,1-8-8V72a8,8,0,0,1,16,0v48h48A8,8,0,0,1,192,128Z">
                                    </path>
                                </svg></div>
                        </div>
                        <!-- /wp:outermost/icon-block -->

                        <!-- wp:post-time-to-read {"fontSize":"x-small"} /-->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"metadata":{"name":"Excerpt"},"className":"lsx-tour-info","style":{"spacing":{"padding":{"left":"0","right":"0","top":"0","bottom":"0"},"blockGap":"0"},"border":{"top":{"width":"0px","style":"none"},"bottom":{"width":"0px","style":"none"}}},"fontSize":"medium","layout":{"type":"default"},"ariaLabel":"Tour details"} -->
                <div aria-label="Tour details" class="wp-block-group lsx-tour-info has-medium-font-size"
                    style="border-top-style:none;border-top-width:0px;border-bottom-style:none;border-bottom-width:0px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
                    <!-- wp:post-excerpt {"excerptLength":25,"className":"is-style-excerpt-truncate-4","fontSize":"small"} /-->
                </div>
                <!-- /wp:group -->

                <!-- wp:post-terms {"term":"post_tag","prefix":"Tags: ","className":"is-style-default","style":{"typography":{"textTransform":"none","fontStyle":"normal","fontWeight":"600"}},"fontSize":"tiny"} /-->

                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
                <div class="wp-block-group">
                    <!-- wp:group {"metadata":{"blockVisibility":false},"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <div class="wp-block-group">
                        <!-- wp:outermost/icon-block {"iconName":"","iconColor":"primary-alt","iconColorValue":"#DD4611","width":"24px"} -->
                        <div class="wp-block-outermost-icon-block">
                            <div class="icon-container has-icon-color has-primary-alt-color"
                                style="color:#DD4611;width:24px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                    viewBox="0 0 256 256">
                                    <path
                                        d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24ZM74.08,197.5a64,64,0,0,1,107.84,0,87.83,87.83,0,0,1-107.84,0ZM96,120a32,32,0,1,1,32,32A32,32,0,0,1,96,120Zm97.76,66.41a79.66,79.66,0,0,0-36.06-28.75,48,48,0,1,0-59.4,0,79.66,79.66,0,0,0-36.06,28.75,88,88,0,1,1,131.52,0Z">
                                    </path>
                                </svg></div>
                        </div>
                        <!-- /wp:outermost/icon-block -->

                        <!-- wp:post-author-name {"fontSize":"small"} /-->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:buttons -->
                    <div class="wp-block-buttons">
                        <!-- wp:button {"backgroundColor":"base","textColor":"primary-alt","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-alt"}}},"spacing":{"padding":{"left":"0","right":"0","top":"0","bottom":"0"}}},"icon":"arrow-right","iconSpacing":"0.2em"} -->
                        <div class="wp-block-button"><a
                                class="wp-block-button__link has-primary-alt-color has-base-background-color has-text-color has-background has-link-color wp-element-button"
                                style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">Read more</a>
                        </div>
                        <!-- /wp:button -->
                    </div>
                    <!-- /wp:buttons -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
        <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-2","theme":"go-africa-ollie-child","area":"footer"} /-->